<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="">
    <div class="container" style="margin-bottom: 20px">
        <div class="row">

            <div class="col-md-12" style="margin-bottom: 20px">
                <div clas="page-header">
                    <div class="header5">Welcome to the XML Test Case Authoring and Management Tool (xTCAMT)</div>
                </div>
                <hr/>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading">
                        <span style="font-size: 14px; font-weight: bold">Have a Question?</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left;">A Google Group
                                <a class="point" ng-href="https://groups.google.com/forum/#!forum/nist-xtcamt" target="_blank">NIST-xTCAMT</a>
                                has been established for discussion/questions about the tool. No
                                membership is required. A Google account is required for posting.</p>
                            <ul>
                                <li>Site:
                                    <a class="point" target="_blank" ng-href="https://groups.google.com/forum/#!forum/nist-xtcamt">https://groups.google.com/forum/#!forum/nist-xtcamt</a>
                                </li>
                                <li>Email: nist-xtcamt@googlegroups.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading">
                        <span style="font-size: 14px; font-weight: bold">Supported Browsers</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left">The following browsers are supported:
                            <ul>
                                <li>Chrome <span style="color:red">(Recommended)</span></li>
                                <li>Firefox <span style="color:red"></span></li>
                                <li>Safari</li>
                            </ul>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>